@keyframes descendDuCiel {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(110%);
    }
}

@keyframes remonteAuCiel {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes appearsFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%) scale(1);
        /* <-- déjà inclure scale(1) */
    }

    100% {
        opacity: 1;
        transform: translateX(0%) scale(1);
        /* idem */
    }
}

/* -------animations items-------- */

.item-fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        transform: scale(1) translateY(0px);
    }

    20% {
        transform: scale(0.6) translateY(0px);
    }

    40% {
        transform: scale(1.5) translateY(-10px);
    }

    60% {
        transform: scale(1) translateY(0px);
    }

    70% {
        transform: scale(1.2) translateY(-5px);
    }

    100% {
        transform: scale(1) translateY(0px);
    }
}

/* -------animations carrousel_mini-------- */
@keyframes myAnim {
    0% {
        transform: scale(0);
        transform-origin: 50% 50%;
        /* haut droit */
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        border-radius: 50%;
        opacity: 1;
    }


    100% {
        transform: scale(1);
        transform-origin: 50% 0%;
        border-radius: 0%;
        opacity: 1;
    }
}

@keyframes flyersSelection {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0%) translateY(-200px) scale(2);
        z-index: 999;
    }
}