/* Ne jamais mettre url('/front/assets/assets/fonts/etc...') */

@font-face {
    font-family: german;
    src: url('/assets/fonts/RoyalVintage.otf');
}

/* src: url('/assets/fonts/); */


@font-face {
    font-family: titres;
    src: url('/assets/fonts/gobold.otf');
}

@font-face {
    font-family: survive;
    src: url('/assets/fonts/LiveNews.ttf');
}

@font-face {
    font-family: roboto;
    src: url('/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: heading;
    src: url('/assets/fonts/lemonMilk.otf');
}

@font-face {
    font-family: roboto-regular;
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: cardinal;
    src: url('/assets/fonts/Cardinal.ttf');
}

@font-face {
    font-family: oddEng;
    src: url('/assets/fonts/OldeEnglish.ttf');
}

@font-face {
    font-family: eastAnglia;
    src: url('/assets/fonts/East_Anglia.otf');
}

@font-face {
    font-family: univers;
    src: url('/assets/fonts/univers.ttf');
}

@font-face {
    font-family: roseCap;
    src: url('/assets/fonts/roseCaps.ttf');
}



.titre {
    font-family: german;
}

.border {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    width: 80%;
    margin: 21px auto;
}

.box {
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: rgba(255, 255, 255, .5);
    width: 700px;
    padding: 18px;
}

.box h1, .box h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: titres;
    /*background: linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 1) 100%);*/
    background-size: cover;
    padding: 10px 15px;
    color: black;
    margin-bottom: 15px;
    animation-name: itComesFromRight;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-color: rgb(201, 0, 9);
}

.jump {
    animation-name: move;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.btn {
    background-color: #991b1b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #b91c1c;
}

.btn i {
    margin-right: 15px;
}

.bold {
    font-weight: 600;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

label {
    color: #a58934;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

.red {
    color: rgb(209, 0, 36);
    font-weight: 600;
}

/* ------pagination------ */
.paginationBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.paginationBottom ul {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

.paginationBottom li {
    margin: 3px;
}

.cell {
    border: 1px solid rgb(229, 222, 217);
    border-radius: 3px;
    padding: 8px 13px;
    color: rgb(128, 124, 125);
    height: 33px;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(242, 236, 230);
}

.arrow {
    margin: 3px;
}

.currentPage {
    background-color: rgb(229, 223, 218);
    color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
}