/* articles  */
.showCaseArticles {
    margin-bottom: 30px;
}

.showCaseArticles__container {
    position: relative;
    height: 352px;
    overflow: hidden;
}

.showCaseArticles__container button {
    position: absolute;
    z-index: 600;
    right: 15px;
    bottom: 25px;
}

.showCaseArticles__container img {
    width: 100%;
    height: 352px;
    object-fit: cover;
}

.showCaseArticles__container__textContainer {
    position: absolute;
    color: white;
    z-index: 500;
    top: 0px;
    right: 0px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    word-break: break-word;
    height: 99%;
    overflow: hidden;
    animation-name: appearsFromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.showCaseArticles__container__textContainer--title {
    font-size: 19px;
    font-weight: 600;
    font-family: titres;
}

.showCaseArticles__container__textContainer--description {
    margin-top: 11px;
}



/* ----------carrouselle------------ */
.carrousel {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 637px;
}

.carrousel img:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.carrousel img {
    background-image: url("../../../../../public/assets/pictures/bg/pink.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.carrousel__slides {
    display: flex;
}

.carrousel__slides__slide {
    width: 205px;
    height: 330px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-top: 0px;
    margin-right: 12px;
    background-color: rgb(245, 245, 245);
    padding: 9px;
}

.carrousel__slides__slide img {
    width: 100%;
    height: 248px;
    object-fit: cover;

}

.carrousel__slides__slide--name {
    color: #372215;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.carrousel__slides__slide--price {
    margin: 5px 0;
    padding-left: 10px;
}

.symbol-euro {
    margin-left: 3px;
}

.carrousel .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angles-left,
.fa-angles-right {
    color: white;
    background-color: rgb(189, 85, 86);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 27%;
    cursor: pointer;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}

.fa-angles-left:hover,
.fa-angles-right:hover {
    background-color: rgb(155, 76, 82);
}

.fa-angles-left {
    left: 5px;
    -webkit-box-shadow: -4px 5px 15px -5px #000000;
    box-shadow: -4px 5px 15px -5px #000000;
}

.fa-angles-right {
    right: 5px;
    -webkit-box-shadow: 4px 4px 15px -5px #000000;
    box-shadow: 4px 4px 15px -5px #000000;
}

/* ---------------flyers--------------- */
.flyers {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flyers img {
    margin: 15px 0px;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}

.flyers__container .flyer {
    position: relative;
    transition-duration: .4s;
    cursor: pointer;
}

.flyers__container .flyer:hover {
    transform: translateX(15px);
}

.flyers__container .para_1 {
    position: absolute;
    top: 28%;
    left: 18%;
    color: #090808;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-weight: 400;
}

.flyers__container .para_2 {
    position: absolute;
    top: 47%;
    left: 34%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 400;
}